.container
  %h2 メンバー登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :name, '名前（例：山田 太郎）'
      %br
      = f.text_field :name, autofocus: true
    .field
      %br
      = f.label :name, '所属拠点（関東・関西・九州）'
      %br
      = f.select :location, [['関東', 'kanto'], ['関西', 'kansai'], ['九州', 'kyushu']]
    .field
      %br
      = f.label :email
      %br
      = f.email_field :email
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (英数字6文字以上)
      %br
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      %br
    .actions
      = f.submit '登録'
  = render "devise/shared/links"
