%tbody
  %tr.danger
    %td.column 興味のある教育分野
    %td= user.education_interest
  %tr
    %td.column 将来やりたい仕事
    %td= user.future_work
  %tr.danger
    %td.column 得意なこと
    %td= user.specially
  %tr
    %td.column 今後伸ばしたい力
    %td= user.improve
  %tr.danger
    %td.column 趣味
    %td= user.hobby
  %tr.danger
    %td.column 座右の銘
    %td= user.motto
