.container
  .row
    .col-lg-12
      .bs-docs-section
        .row
          .col-lg-6
            %h1 EDUPEDIAメンバー
            %p.bs-component
              %a.btn.wide.btn-info{:href => "#"} 全体
              %a.btn.wide.btn-danger{:href => "#"} 関東
              %a.btn.wide.btn-warning{:href => "#"} 関西
              %a.btn.wide.btn-success{:href => "#"} 九州
  %h4.admin-label 関東
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th 学年
        %th 名前
        %th 大学名
        %th 活動拠点
        %th 今やっていること
        %th 詳細
    %tbody
    - @kanto_users.each do |kanto_user|
      -# %tr{ class: cycle('info', '') }
      -#   - kanto_user
      %tr.info
        %td= kanto_user.year
        %td= kanto_user.name
        %td= kanto_user.university
        %td= Settings.location_name.kanto
        %td= kanto_user.doing
        %td
          = link_to '個人ページへ', user_path(kanto_user.id), class: 'btn small btn-primary'
