.container
  .row
    .col-lg-12
      .bs-docs-section
        .row
          .col-lg-6
            %h2#nav-tabs Tabs
            .bs-component
              %ul.nav.nav-tabs
                %li.active
                  %a.btn.wide.btn-info{"data-toggle" => "tab", :href => "#all"} 全体
                %li
                  %a.btn.wide.btn-danger{"data-toggle" => "tab", :href => "#kanto"} 関東
                %li
                  %a.btn.wide.btn-warning{"data-toggle" => "tab", :href => "#kansai"} 関西
                %li
                  %a.btn.wide.btn-success{"data-toggle" => "tab", :href => "#kyushu"} 九州
            -# %h1#nav-tabs EDUPEDIAメンバー
            -# %p.bs-component
            -#   %a.btn.wide.btn-info{:href => "#all"} 全体
            -#   %a.btn.wide.btn-danger{:href => "#kanto"} 関東
            -#   %a.btn.wide.btn-warning{:href => "#kansai"} 関西
            -#   %a.btn.wide.btn-success{:href => "#kyushu"} 九州
  #myTabContent.tab-content
    #kanto.tab-pane.fade.active.in
      %h4.admin-label 関東
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th 学年
            %th 名前
            %th 大学名
            %th 活動拠点
            %th 今やっていること
            %th 詳細
        %tbody
        - @kanto_users.each do |kanto_user|
          -# %tr{ class: cycle('info', '') }
          -#   - kanto_user
          %tr.info
            %td= kanto_user.year
            %td= kanto_user.name
            %td= kanto_user.university
            %td= Settings.location_name.kanto
            %td= kanto_user.doing
            %td
              = link_to '個人ページへ', user_path(kanto_user.id), class: 'btn small btn-primary'
    #kansai.tab-pane.fade
      %h4.admin-label 関西
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th 学年
            %th 名前
            %th 大学名
            %th 活動拠点
            %th 今やっていること
            %th 詳細
        %tbody
        - @kansai_users.each do |kansai_user|
          -# %tr{ class: cycle('info', '') }
          -#   - kanto_user
          %tr.info
            %td= kansai_user.year
            %td= kansai_user.name
            %td= kansai_user.university
            %td= Settings.location_name.kansai
            %td= kansai_user.doing
            %td
              = link_to '個人ページへ', user_path(kansai_user.id), class: 'btn small btn-primary'
    #kyushu.tab-pane.fade
      %h4.admin-label 九州
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th 学年
            %th 名前
            %th 大学名
            %th 活動拠点
            %th 今やっていること
            %th 詳細
        %tbody
        - @kyushu_users.each do |kyushu_user|
          -# %tr{ class: cycle('info', '') }
          -#   - kanto_user
          %tr.info
            %td= kyushu_user.year
            %td= kyushu_user.name
            %td= kyushu_user.university
            %td= Settings.location_name.kyushu
            %td= kyushu_user.doing
            %td
              = link_to '個人ページへ', user_path(kyushu_user.id), class: 'btn small btn-primary'

