.container
  .row
    .col-lg-12
      .bs-docs-section
        .row
          .col-lg-6
            %h2.line= @user.name + '（詳細）'
            = link_to '編集', edit_user_path(@user.id), class: 'btn btn-primary action'
            = link_to '削除', user_path(@user), method: :delete, class: 'btn btn-danger action'
.container
  .row
    .col-lg-6
      .bs-component
        .panel.panel-info
          .panel-heading
            %h3.panel-title 基本情報
        %table.table.table-striped.table-hover
          = render partial: "basic_info", locals: { user: @user }
    .col-lg-6
      .bs-component
        .panel.panel-danger
          .panel-heading
            %h3.panel-title 人柄
        %table.table.table-striped.table-hover
          = render partial: "personality", locals: { user: @user }
  .row
    .col-lg-6
      .bs-component
        .panel.panel-warning
          .panel-heading
            %h3.panel-title EDUPEDIAの活動
        %table.table.table-striped.table-hover
          = render partial: "internal_activity", locals: { user: @user }
    .col-lg-6
      .bs-component
        .panel.panel-success
          .panel-heading
            %h3.panel-title EDUPEDIA外の活動
        %table.table.table-striped.table-hover
          = render partial: "external_activity", locals: { user: @user }
    .col-lg-6
      .bs-component
        .panel.panel-active
          .panel-heading
            %h3.panel-title メモ
        %table.table.table-striped.table-hover
          %tbody
            %tr.actice
              %td.column メモ
              %td= @user.memo
