.container
  .row
    .col-lg-12
      .bs-docs-section
        .row
          .col-lg-6
            %h2.line#nav-tabs プロジェクト情報
            = link_to '新規作成', new_project_path, class: 'btn btn-primary edit'
            .bs-component
              %ul.nav.nav-tabs
                %li.active
                  %a.btn.wide.btn-primary{"data-toggle" => "tab", :href => "#all"} 一覧
                %li
                  %a.btn.wide.btn-info{"data-toggle" => "tab", :href => "#doing"} 進行中
                %li
                  %a.btn.wide.btn-danger{"data-toggle" => "tab", :href => "#stagnation"} 停滞中
                %li
                  %a.btn.wide.btn-success{"data-toggle" => "tab", :href => "#done"} 完了
                %li
                  %a.btn.wide.btn-warning{"data-toggle" => "tab", :href => "#planning"} 企画中
  .tab-content
    #all.tab-pane.fade.active.in
      %h4.admin-label 進行中
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @doing_projects.each do |doing_project|
          %tr.info
            %td= doing_project.id
            %td= doing_project.project_name
            %td= doing_project.goal
            %td
              = link_to '詳細ページへ', project_path(doing_project.id), class: 'btn small btn-primary'
      %h4.admin-label 停滞中
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @stagnation_projects.each do |stagnation_project|
          %tr.info
            %td= stagnation_project.id
            %td= stagnation_project.project_name
            %td= stagnation_project.goal
            %td
              = link_to '詳細ページへ', project_path(stagnation_project.id), class: 'btn small btn-primary'
      %h4.admin-label 完了
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @done_projects.each do |done_project|
          %tr.info
            %td= done_project.id
            %td= done_project.paroject_name
            %td= done_project.goal
            %td
              = link_to '詳細ページへ', project_path(done_project.id), class: 'btn small btn-primary'
      %h4.admin-label 企画中
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @planning_projects.each do |planning_project|
          %tr.info
            %td= done_project.id
            %td= done_project.paroject_name
            %td= done_project.goal
            %td
              = link_to '詳細ページへ', project_path(planning_project.id), class: 'btn small btn-primary'

    #doing.tab-pane.dade
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @doing_projects.each do |doing_project|
          %tr.info
            %td= doing_project.id
            %td= doing_project.project_name
            %td= doing_project.goal
            %td
              = link_to '詳細ページへ', project_path(doing_project.id), class: 'btn small btn-primary'
    #stagnation.tab-pane.dade
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @stagnation_projects.each do |stagnation_project|
          %tr.info
            %td= stagnation_project.id
            %td= stagnation_project.project_name
            %td= stagnation_project.goal
            %td
              = link_to '詳細ページへ', project_path(stagnation_project.id), class: 'btn small btn-primary'
    #done.tab-pane.dade
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @done_projects.each do |done_project|
          %tr.info
            %td= done_project.id
            %td= done_project.paroject_name
            %td= done_project.goal
            %td
              = link_to '詳細ページへ', project_path(done_project.id), class: 'btn small btn-primary'
    #planning.tab-pane.dade
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th id
            %th プロジェクト名
            %th ゴール
            %th 詳細
        %tbody
        - @planning_projects.each do |planning_project|
          %tr.info
            %td= planning_project.id
            %td= planning_project.paroject_name
            %td= planning_project.goal
            %td
              = link_to '詳細ページへ', project_path(planning_project.id), class: 'btn small btn-primary'
