.container
  = form_for @project do |f|
    .bs-docs-section
      .row
        .col-lg-12
          .page-header
            %h1#forms 新規プロジェクトの作成
      .row
        .col-lg-7
          .well.bs-component
            %form.form-horizontal
              %fieldset
                .form-group
                  = f.label :project_name, 'プロジェクト名'
                .form-group
                  = f.text_field :project_name, autofocus: true
                .form-group
                  = f.label :activity, '内容'
                .form-group#textArea
                  = f.text_area :activity, class: 'form-control', rows: 3
                .form-group
                  = f.label :goal, '目的・ゴール'
                .form-group#textArea
                  = f.text_area :goal, class: 'form-control', rows: 3
                .form-group
                  = f.label :start, '開始時期'
                .form-group
                  = f.text_field :start
                .form-group
                  = f.label :finish, '終了時期（予定）'
                .form-group
                  = f.text_field :project_name, autofocus: true
                .form-group
                  = f.label :status, 'ステータス'
                .form-group#select
                  = f.select :status, [['計画中', 'planning'], ['進行中', 'doing'], ['停滞中', 'stagnation'], ['完了', 'done']]
                .form-group
                  = f.submit class: 'btn btn-primary submit'
