.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/")
        = image_tag("edu_logo.png", alt: "EDUPEDIAPEDIA")
    #navbar-main.navbar-collapse.collapse
      //login
      -if user_signed_in?
        %ul.nav.navbar-nav
          %li.active
            = link_to '取材管理', projects_path
          %li.active
            = link_to 'CSV出力', csv_output_users_path(format: :csv)
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle.btn.btn-head.navbar-btn{ "aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button" }
              = "#{ current_user.name } のメニュー"
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                = link_to '自分のページ', user_path(current_user)
              %li
                = link_to '自分のページの編集', edit_user_path(current_user)
              %li
                = link_to 'ログイン情報の更新',edit_user_registration_path(current_user)
              %li
                = link_to 'サインアウト', destroy_user_session_path, method: :delete
.container
  #banner.page-header
    .row
